
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

body {
    /* background: -webkit-linear-gradient(left, #146ea1, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4); */
    background: rgb(156, 172, 223);
}

h1 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 300%;
    color: #0c113d;
    margin-top: 5px;
    margin-bottom: 20;
}

.container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: inset 5px 5px 12px rgba(0,0,0,0.15),
                      5px 5px 12px rgba(0,0,0,0.15);
    display: grid;
    grid-template-columns: repeat(4,68px);
}

input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #a7a1a1;
    box-shadow: inset -5px -5px 12px rgba(0,0,0,0.10),
                inset 5px 5px 12px rgba(0,0,0,0.10);
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}


button{
    height: 48px;
    width: 48px;
    background-color: #a7a1a1;
    box-shadow: -5px -5px 12px rgba(0,0,0,0.10),
                5px 5px 12px rgba(0,0,0,0.10);
    border: none;
    border-radius: 10%;
    margin: 10px;
    font-size: 25px;
}

button:active{
    background-color: rgb(71, 68, 68);
    
}

.equal{
    width: 115px;
    border-radius: 10px;
    background-color: #a7a1a1;
    box-shadow: -5px -5px 12px rgba(0,0,0,0.16),
                5px 5px 12px rgba(0,0,0,0.16);
}


